---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const images = (await Astro.glob("../assets/images/event/*.jpg").then((files) =>
  files.map((file) => file.default),
)) as ImageMetadata[];
---

<Layout>
  <div class="container mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="mb-8 space-y-2 text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        HackHPI 2023
      </h2>
      <p class="text-xl text-gray-500">
        about://building-trust-in-digital-state
      </p>
    </div>
    <div class="mx-auto grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
      {
        images.map((image) => (
          <Image src={image} width="1280" height="720" alt="HackHPI 2023" />
        ))
      }
    </div>
  </div>
</Layout>
