---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="prose mx-auto break-words px-4 py-16">
    <h1>Impressum</h1>
    <p>
      Diese Webseite wird betrieben von dem Entrepreneur Klub am HPI<br />
       c/o Hasso-Plattner-Institut<br />
       Prof.-Dr.-Helmert-Str. 2-3<br />
       14482 Potsdam<br />
       E-Mail: <a href="mailto:team@hackhpi.org">team@hackhpi.org</a>
    </p>
    <h2>Haftungsausschluss</h2>
    <p>
      Trotz größtmöglicher Sorgfalt kann nicht ausgeschlossen werden, dass
      einzelne Informationen auf dieser Seite veraltet oder nicht zutreffend
      sind. Es wird keine Haftung für Aktualität, Genauigkeit und
      Vollständigkeit der publizierten Informationen übernommen. Für den Inhalt
      verlinkter externer Webseiten sind lediglich deren Betreiber
      verantwortlich.
    </p>
    <h2>Urheber der verwendeten Bilder</h2>
    <p>
      HPI Hauptgebäude: HPI/K. Herschelmann<br />
       HPI School of Design Thinking: Nico Böckhoff<br />
       Partner-Logos: Der jeweilige Partner
    </p>
  </div>
</Layout>
