---
import Faq from '../components/Faq.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="TODO TOPIC">
  <main>
    <Hero />
    <Team />
    <Faq />
  </main>
</Layout>
