---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="prose mx-auto break-words px-4 py-16">
    <h1>Rules</h1>
    <b>
      By registering for and/or attending HackHPI 2024, you (the “Participant”)
      accept these terms and conditions (and any amendments to them), which are
      final and binding in all respects.
    </b>
    <h3 class="uppercase">Code of Conduct</h3>
    <p>
      We follow MLH's code of conduct, which all attendees, partners,
      volunteers, and staff are required to agree to. We expect all of our
      attendees to be respectful and considerate of others.
    </p>
    <h3 class="uppercase">Dates</h3>
    <p>The Hackathon will take place on 5th to 6th of April 2024</p>
    <h3 class="uppercase">Application and Registration</h3>
    <p>
      Participants must apply for HackHPI 2024 via hackhpi.org If accepted,
      Participants will get a confirmation via email prior to the event when the
      application period has ended.
    </p>
    <h3 class="uppercase">Limit of participants</h3>
    <p>
      Due to a limited number of spots available, not all registered
      participants may be able to participate. We will do our best to
      accommodate as many participants as possible and we will notify you if you
      have been selected to participate.
    </p>
    <h3 class="uppercase">Eligibility</h3>
    <p>
      HackHPI 2024 welcomes participants of all backgrounds and experience
      levels, regardless of prior knowledge or experience in security, legal and
      government technology. Prior programming experience is not required. The
      main eligibility is motivation to solve challenges and willingness to
      learn and grow in the field.
    </p>
    <p>
      Registration for HackHPI 2024 constitutes acceptance of these terms and
      conditions (and any amendments to them), which are final and binding in
      all respects.
    </p>
    <p>
      All individuals and teams that apply to HackHPI 2024 must be accepted by
      the Organizers in order to be eligible to participate.
    </p>
    <p>
      The Organizers reserve the right to disqualify any participant and/or team
      from HackHPI 2024 if, in their sole discretion, the participant and/or
      team has not complied with these terms and conditions, has tampered with
      the operation of HackHPI 2024, or has engaged in any conduct that is
      detrimental or unfair to the Organizers, HackHPI 2024, or any other
      participant and/or team. This determination is at the sole discretion of
      the Organizers.
    </p>
    <h3 class="uppercase">Judging criteria and winner selection</h3>
    <p>
      Project ideas for HackHPI 2024 may be preconceived or spontaneously
      created at the event.
    </p>
    <p>
      Each participating team may submit only one project for final
      consideration by judges.
    </p>
    <p>
      Submissions must be submitted prior to the scheduled presentation time in
      order to be eligible to win prizes.
    </p>
    <p>
      Additional prizes may be available solely at the discretion of the
      Organizers. Full details about all additional awards will be made known at
      the beginning of HackHPI 2024. The Organizers have the right to add or
      remove Award categories at their discretion.
    </p>
    <p>The following are the judging criteria:</p>
    <ul>
      <li>
        <b>Concept:</b>
         Innovation potential of the idea, Adherence to the topic of cleanIT,
        Business value, Impact on the users
      </li>
      <li>
        <b>Development:</b>
         Usability and Completeness of the prototype
      </li>
      <li>
        <b>Presentation:</b>
         Quality of the presentation, Clarity, Effectiveness, Completeness,
        Interest raised in the audience
      </li>
    </ul>
    <h3 class="uppercase">Photos & Videos</h3>
    <p>During the event photos and videos may be taken from the participants</p>
  </div>
</Layout>
