<section id="about" class="scroll-mt-20">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="lg:text-left">
      <p
        class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl md:text-5xl"
      >
        What to expect at HackHPI 2024
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        In the era of rapid urbanization and advancing technologies, the concept
        of smart cities has emerged as a solution to address the evolving needs
        of our society. To meet these demands of an increasingly digitized
        society, government agencies and companies alike must adapt their
        infrastructure and embrace state-of-the-art technologies.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        Furthermore, the increasing awareness about climate change urges us to
        take steps towards a more sustainable future. Whether it be our way of
        transportation or our general lifestyle, clever designs and coding
        solutions can motivate us to do better.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        However, much work still needs to be done in making our cities work
        seamlessly and environmentally friendly. Therefore, this year focuses on
        developing solutions for tomorrow's urban society and solving problems
        we already face.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        For two consecutive days, we will bring motivated students from
        different backgrounds together at HPI near Berlin. By providing
        world-class sponsors, including workshops and access to their data and
        APIs, a great location and plenty of caffeine to fuel your brain, we
        will create a space for creativity, inspiring ideas and a passion for
        trying out new things.
      </p>
    </div>
  </div>
</section>
