<section id="about" class="scroll-mt-20">
  <div class="mx-auto max-w-7xl pt-12 px-4 sm:px-6 lg:px-8">
    <div class="lg:text-left">
      <p
        class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl md:text-5xl"
      >
        What to expect at HackHPI 2023
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        A functioning government is crucial for ensuring efficient public
        services. Therefore, it is necessary that government agencies adapt
        their infrastructure and used technologies to the increasingly digitized
        society to effectively serve their citizens.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        In today's world, where sensitive information and critical
        infrastructure are increasingly connected to the internet, it is
        essential that government agencies and institutions are protected
        against cyber threats.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        However, as many people experience every day, in the field of
        digitalization, government and public institutions are still lagging
        behind. This year is about developing secure solutions that can help to
        improve and democratize these areas.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        For two consecutive days, we will bring motivated students from
        different backgrounds together at HPI, just outside of Berlin. By
        providing world-class sponsors, including workshops and access to their
        data and APIs, a great location and plenty of caffeine to fuel your
        brain, we will create a space for creativity, inspiring ideas and a
        passion for trying out new things.
      </p>
      <p class="mt-8 text-xl font-bold tracking-tight text-gray-900">
        Pre-Event to the Postdam conference for national cyber security
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        On April 19 and 20, 2023, high-ranking representatives of German and
        international security authorities and experts from politics, business
        and academia will meet at HPI to analyze the cybersecurity situation and
        exchange views on current and future challenges.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        The winning teams of HackHPI get access to the event and will present
        their solutions there.
      </p>
    </div>
  </div>
</section>
