---
import { Icon } from 'astro-icon';

const socials = [
  {
    name: 'Facebook',
    href: 'https://www.facebook.com/HackHPI',
    icon: 'ic:baseline-facebook',
  },
  {
    name: 'Twitter',
    href: 'https://twitter.com/HackHPI',
    icon: 'mdi:twitter',
  },
  {
    name: 'Mail',
    href: 'mailto:team@hackhpi.org',
    icon: 'mdi:email',
  },
];
---

<footer class="mt-auto bg-gray-800">
  <div
    class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="flex justify-center space-x-6 md:order-2">
      {
        socials.map((it) => (
          <a
            href={it.href}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-400 hover:text-gray-300"
          >
            <span class="sr-only">{it.name}</span>
            <Icon name={it.icon} class="h-6 w-6" />
          </a>
        ))
      }
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-gray-400">
        &copy; 2022 HackHPI. All rights reserved.
      </p>
    </div>
  </div>
</footer>
