<div class="w-full relative">
  <div class="w-full h-full top-0 left-0 absolute bg-black opacity-50"></div>
  <div
    class="w-full h-full flex flex-col absolute top-0 left-0 justify-center items-center"
  >
    <h1 class="text-6xl font-bold text-white">HackHPI</h1>
    <h2 class="text-2xl text-white">Lorem Ipsum</h2>
    <p class="text-white">TODO: Fancy CTA for Application</p>
  </div>
  <img src="/hero.jpg" alt="" class="w-full" />
</div>
