---
import { Icon } from "astro-icon";
import Wave from "../assets/svg/Wave.astro";
---

<div class="w-full bg-hero bg-cover">
  <div
    class="container mx-auto flex flex-col flex-wrap items-center px-6 py-24 text-white md:flex-row"
  >
    <div
      class="flex w-full flex-col items-start justify-center text-left md:w-1/2"
    >
      <div class="mb-16 w-full md:mb-0 lg:w-auto">
        <img
          class="-ml-2.5 h-32 w-auto lg:-ml-3.5 lg:h-48"
          src="/HackHPI_white.svg"
          alt=""
        />
        <h1 class="text-xl font-bold tracking-tight md:text-2xl xl:text-3xl">
          tomorrow's reality, today's vision.<br />smart cities edition.
        </h1>
        <h2 class="mt-5 text-xl sm:mt-8 md:text-2xl xl:text-3xl">
          <span class="inline-block align-middle">
            <Icon name="ic:round-date-range" class="h-10 w-10" />
          </span>
          <span class="inline-block align-middle"
            >12<sup>th</sup> – 13<sup>th</sup> April 2024</span
          >
        </h2>
        <h2 class="mt-1 text-xl sm:mt-2 md:text-2xl xl:text-3xl">
          <span class="inline-block align-middle">
            <Icon name="mdi:location-on-outline" class="h-10 w-10" />
          </span>
          <span class="inline-block align-middle">Hasso Plattner Institute</span
          >
        </h2>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
          <a
            href="https://forms.gle/C7B78bwN5ChgbqMP9"
            target="_blank"
            rel="noopener noreferrer"
            class="flex w-full items-center justify-center rounded-md border border-transparent bg-white px-8 py-3 text-base font-medium text-hackhpi-primary hover:bg-gray-100 md:px-10 md:py-4 md:text-lg"
            >Apply now</a
          >
        </div>
      </div>
    </div>
    <iframe
      class="aspect-video w-full rounded-xl md:w-1/2"
      src="https://www.youtube.com/embed/59fMv3RgaC0"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="relative -mt-12 lg:-mt-24">
    <Wave />
  </div>
</div>
