<section id="newsletter">
  <div class="bg-white py-8 sm:py-12 lg:py-16">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 items-center gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8"
    >
      <div class="max-w-xl lg:col-span-7">
        <h2
          class="inline text-3xl font-bold tracking-tight text-gray-900 sm:block sm:text-4xl lg:inline xl:block"
        >
          Want to stay in the loop?
        </h2>
        <p
          class="inline text-3xl font-bold tracking-tight text-gray-900 sm:block sm:text-4xl lg:inline xl:block"
        >
          Sign up for our newsletter.
        </p>
        <p class="mt-2 inline text-gray-500 sm:block lg:inline xl:block">
          We use Brevo as our marketing platform. By clicking below to submit
          this form, you acknowledge that the information you provided will be
          transferred to Brevo for processing in accordance with their <a
            target="_blank"
            class="font-medium text-hackhpi-primary"
            href="https://www.brevo.com/legal/termsofuse">terms of use</a
          >.
        </p>
      </div>
      <iframe
        class="w-full max-w-md lg:col-span-5 lg:pt-2"
        width="540"
        height="350"
        src="https://0270cddf.sibforms.com/serve/MUIFABVV0kHidS5IzNgtqUvG1rLtlftSX4W4uGTyVdinFJUl058WKYsaVKDfSCnHUEM0gpwj7NC_as6DZ0aiy3J1wPqQg9XgIuVMzy5Q30AsiVpWDZpINCrvwq8kam_Q7zLV9zvBwixIk5NPCKR4416I7E_DBsT42vuRyN5DGcp6qRZQIvs8PijiNYwdZ7AT2JuafhM1Xbr8dBHs"
        frameborder="0"
        scrolling="auto"
        allowfullscreen
        style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"
      ></iframe>
    </div>
  </div>
</section>
