<section id="preevent" class="scroll-mt-20">
  <div class="mx-auto max-w-7xl pt-12 px-4 sm:px-6 lg:px-8">
    <div class="lg:text-left">
      <p
        class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl md:text-xl"
      >
        Pre-Event to the Postdam conference for national cyber security
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        On April 19 and 20, 2023, high-ranking representatives of German and
        international security authorities as well as experts from politics,
        business and academia will meet at HPI to analyze the cybersecurity
        situation and exchange views on current and future challenges.
      </p>
      <p class="mt-4 text-xl text-gray-500 lg:mx-auto">
        The winning teams of HackHPI get access to the event and will present
        their solutions there.
      </p>
    </div>
  </div>
</section>
