---
import sponsors from '../assets/data/sponsors.json';
import SponsorCard from './SponsorCard';
---

<div>
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-center text-3xl font-bold tracking-tight sm:text-4xl">
      Sponsors
    </h2>
    <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-3 lg:mt-8">
      {sponsors.map((it) => <SponsorCard {...it} client:load />)}
    </div>
  </div>
</div>
