---
import '@fontsource/urbanist'
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      HackHPI 2024 | tomorrow's reality, today's vision. smart cities edition.
    </title>
  </head>
  <body class="flex min-h-screen flex-col">
    <main class="mb-auto">
      <slot />
    </main>
  </body>
</html>
