---
import '@fontsource/urbanist'
import Footer from "../components/Footer/Footer";
import '@fontsource/anton'
import '@fontsource-variable/exo-2'
import '@fontsource-variable/source-code-pro'
import '@fontsource-variable/rubik'
import '@fontsource-variable/open-sans'
import '@fontsource/poppins'
import '@fontsource/anton'
import '@fontsource-variable/exo-2'
import '@fontsource-variable/source-code-pro'
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg" href="/HackHPI_white.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>
        HackHPI 2024 | tomorrow's reality, today's vision. smart cities edition.
    </title>
    <style>
        @font-face {
            font-family: "Neo Sans";
            src: url("fonts/NeoSansStdRegular.otf") format("opentype");
        }

        @font-face {
            font-family: Neo Sans;
            font-weight: bold;
            src: url("fonts/NeoSansStdBold.otf") format("opentype");
        }
        @font-face {
            font-family: Neo Sans;
            font-weight: 100;
            src: url("fonts/NeoSansStdLight.otf") format("opentype");
        }
    </style>
</head>
<body style="position: relative; min-height: 100vh">
<main style="padding-bottom: 17rem">
    <slot/>
</main>
<div style="position: absolute; bottom: 0; width: 100%; height: 17rem">
    <Footer client:load/>
</div>
</body>
</html>
